.core{  
    margin: 0;  
    font-family: "Poppins", sans-serif;  
    background-color: linear-gradiet(300deg, #757b87, #909d9d);  
    display: flex;   
    align-items: center;  
    min-height: 50vh;  
    flex-direction: column;  
  } 

input{  
padding: 1rem;  
border-radius: 25px;  
border: none;  
background-color: #fff;  
font-family: inherit;  
box-shadow: 0 4px 10px rgba(0,0,0,0.2);  
min-width: 300px;  
font-size: 1rem;  
margin-top: 10px;
}  
input:focus{  
outline: none;  
}  
.weather{  
text-align: center;  
font-size: 2rem ;  
}  
.weather h2{  
margin-bottom: 0;  
display: flex;  
align-items: center;  
}  


.airport, .to-airport{
margin: 0;  
font-family: "Poppins", sans-serif;  
background-color: linear-gradient(300deg, #757b87, #909d9d);  
max-height: 200px;  
}

#airport-form, #to-airport-form{
    display: flex;
    flex-direction: column;
}

.airports{
    display: flex;
    align-items: center;
    justify-content: center;
}

.proceed,.pay{
    width: 100px;
    padding: 5px;
    border-radius:40px;
    background-color: #fff;
    color: #757b87;
    position: relative;
    left: 50%;
    margin-top: 30px;
    transform: translateX(-50%);
}

.center{
    display: flex;
    justify-content: center;
}